<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}user.html.twig{% endblock %}</title>
    </head>
    <body>
        <h1>je suis un user tout à fait normal!</h1>
    </body>
</html>